---
const { title, img, imgWidth = 750, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, 2).join("/") + "/tag";
---

<div class="bg-base-100 rounded-lg transition ease-in-out hover:scale-[102%] hover:shadow-xl">
    <a href={url} target={target}>
        <div class="hero-content flex-col md:flex-row">
            {
                img && (
                    <Image
                        src={img}
                        width={imgWidth}
                        height={422}
                        format="webp"
                        alt={title}
                        class="max-w-full rounded-lg md:max-w-52"
                    />
                )
            }
            <div class="w-full grow">
                <h1 class="text-xl font-bold">
                    {title}
                    {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
                </h1>
                <p class="py-1 text-lg">{desc}</p>
                <div class="card-actions justify-end">
                    {
                        tags &&
                            tags.map((tag: string) => (
                                <a href={`${tag_url}/${tag}`} class="badge badge-outline">
                                    {tag}
                                </a>
                            ))
                    }
                </div>
            </div>
        </div>
    </a>
</div>
