---
// 02/04/25     Jud Cole Portfolio Base Layout

// spell-checker: ignore lofi

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ClientRouter } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
    image,
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    includeSidebar = true,
    sideBarActiveItemID,
    ogType,
} = Astro.props;
---

<!doctype html>
<!-- 
    See Daisy themes at https://daisyui.com/docs/themes 
    e.g. "lofi", "dark", "business"
-->
<html lang="en" data-theme="dark">
    <head>
        <BaseHead title={title} description={description} image={image} , ogType={ogType} />
        {TRANSITION_API && <ClientRouter />}
    </head>
    <body>
        <div class="drawer bg-base-100 lg:drawer-open">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content bg-base-100">
                <Header title={SITE_TITLE} />
                <div class="md:flex md:justify-center">
                    <main class="max-w-[100vw] p-6 pt-10 lg:max-w-[900px]">
                        <slot />
                    </main>
                </div>
                <Footer />
            </div>
            {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
        </div>
    </body>
</html>
